<div class="survey_results">
  <h2><%= @survey.title %></h2>
  <img src="<%= @survey.image %>">
  <ul class="question_list list-unstyled">
  <% @survey.questions.each do |question| %>
    <div class="survey_question">
      <li><h3>Question: <%= question.description %></h3></li>
      <div class="row">
        <ul class="choice_list list-unstyled col-md-4">
          <% question.choices.each do |choice| %>
            <li>
              <div class="choice_display">
                <span class="question_choice"><%= choice.description %></span>: 
                <span class="vote_count"><%= choice.choice_users.count %></span> votes
              </div>
            </li>
          <% end %>
        </ul>
        <div class="question_pie_chart col-md-4"></div>
      </div>
    </div>
  <% end %>
  </ul>
</div>