<div class="survey_results">
  <h2 class="text-center"><%= @survey.title %></h2>
  <img class="center-block" src="<%= @survey.image %>">
  <ul class="question_list list-unstyled list-group">
  <% @survey.questions.each do |question| %>
    <div class="survey_question">
      <li class="list-group-item list-group-item-info"><h3>Question: <%= question.description %></h3></li>
      <div class="results_row row">
        <ul class="choice_list list-unstyled col-md-4 list-group">
          <% question.choices.each do |choice| %>
            <li class="list-group-item">
              <div class="choice_display">
                <span class="question_choice"><%= choice.description %></span> 
                <span class="badge"><span class="vote_count"><%= choice.choice_users.count %></span> votes</span>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="question_pie_chart col-md-4"></div>
      </li>
    </div>
  <% end %>
  </ul>
</div>