<div class="survey_fill_out">
  <h2 class="text-center"><%= @survey.title %></h2>
  <img class="center-block survey_image" src="<%= @survey.image %>">
  <ul class="question_list list-unstyled">
  <form class="survey_form" action="/submit" method="POST">
    <input type="hidden" name="survey_id" value="<%= @survey.id %>">
    <% @survey.questions.each do |question| %>
      <div class="survey_question">
        <li class="list-group-item list-group-item-info"><h3>Question: <%= question.description %></h3></li>
        <ul class="choice_list list-unstyled list-group">
          <% question.choices.each do |choice| %>
            <li class="list-group-item">
              <div class="input-group">
                <input type="radio" name="<%= question.id %>" value="<%= choice.id %>">
                <%= choice.description %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <input class="btn btn-success" type="submit">
  </form>
  </ul>
</div>