<h2><%= @survey.title %></h2>
<img src="<%= @survey.image %>">
<ul class="question_list">
<form class="survey_form" action="/submit" method="POST">
  <input type="hidden" name="survey_id" value="<%= @survey.id %>">
  <% @survey.questions.each do |question| %>
    <div class="survey_question">
      <li>Question: <%= question.description %></li>
      <% question.choices.each do |choice| %>
        <input type="radio" name="<%= question.id %>" value="<%= choice.id %>"> <%= choice.description %><br>
      <% end %>
    </div>
  <% end %>
  <input type="submit">
</form>
</ul>